<article class="post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
	<header>
		<h1 class="page-title">{{post.title.rendered}}</h1>

		<div class="entry-meta">
			<span class="posted-on">Posted on <a href="{{post.slug}}" rel="bookmark"><time class="entry-date " datetime="{{post.date}}">{{post.date | date:'longDate'}}</time></a>, updated on <a href="/{{post.slug}}" rel="bookmark"><time class="updated published" datetime="{{post.modified}}">{{post.modified | date:'longDate'}}</time></a></span>	
		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

	<div class="entry-content">
		<div class="entry-content-thumbnail" ng-if="post.featured_media">
			<img width="1600" height="1240" src="{{post.better_featured_image.source_url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="{{post.better_featured_image.source_url}} 1600w, {{post.better_featured_image.media_details.sizes.medium.source_url}} 300w, {{post.better_featured_image.media_details.sizes.large.source_url}} 1024w, {{post.better_featured_image.media_details.sizes.medium_large.source_url}} 768w" sizes="(max-width: 1600px) 100vw, 1600px">		
		</div>
		<p ng-bind-html="post.content.rendered"></p>
	</div><!-- .entry-content -->
	<footer class="entry-meta">
		Bookmark the <a href="{{post.slug}}" title="Permalink to This is my test page" rel="bookmark">permalink</a>.
	</footer><!-- .entry-meta -->
</article>

